.adoption {
    padding: 174px 0 186px;

    background: url(../images/bg_adoption.jpg) center 0/cover no-repeat;
}

.adoption__subtitle {
    color: #fff;
}

.adoption__title {
    margin: 8px 0 16px;

    color: #fff;
}

.adoption__buttons {
    display: flex;
    justify-content: center;

    & > * + * {
        margin-left: 10px;
    }
}
