.button {
    @extend %custom-link;

    display: block;

    padding: 17px 0 16px;

    color: #c2c9db;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;

    background-color: #fff;
    border: 1px solid #d7dbe8;
    border-radius: 100px;
    box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);

    &:hover,
    &:focus {
        color: #fff;

        background-color: #6e45e2;
        border-color: #6e45e2;
        box-shadow: none;
        outline: none;
    }
}

.button--w150 {
    width: 148px;
}

.button--w190 {
    width: 188px;
}
