.menu {
    @extend %custom-list;

    display: flex;

    font-size: 16px;
    font-weight: 500;
}

.menu__item {
    @extend %custom-link;

    display: block;

    position: relative;

    padding: 17px 30px;

    &--active {
        &::after {
            content: '';

            position: absolute;
            right: 3px;
            bottom: 0;
            left: 3px;

            height: 2px;

            background: #fff;
        }
    }
}
