.page-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    height: 100vh;
    padding: 46px 50px 50px;

    color: #ffffff;

    background: url('../images/bg_page-header.jpg') center/cover no-repeat;
}

.page-header__nav {
    .nav__button {
        color: #fff;

        background: none;
        border-color: #fff;
        box-shadow: none;

        &:hover,
        &:focus {
            color: #75a9c8;

            background-color: #fff;
            border-color: #fff;
        }
    }
}

.page-header__subtitle {
    &::before,
    &::after {
        background: #fff;
    }
}

.page-header__title {
    margin: 16px 0 14px;
}
