.page-footer {
    padding: 50px 50px 26px;

    color: $footer-text-color;
}

.page-footer__logo {
    .logo__text {
        color: $footer-logo-text-color;
    }
}

.page-footer__nav {
    .nav__menu {
        .menu__item {
            &--active {
                color: $footer-secondary-text-color;
            }
        }
    }

    .nav__button {
        color: $white;

        background-color: $button-secondary-background-color;
        border-color: $button-secondary-background-color;

        &:hover {
            color: $button-secondary-background-color;

            background: none;
        }
    }
}

.page-footer__copyright {
    margin: 0;

    font-size: 0.875rem;
    font-weight: 500;

    opacity: 0.5;
}

.page-footer__bottom {
    display: flex;

    padding: 30px 0 0;
    margin: 30px 0 0;

    border-top: 1px solid #f2f2f3;
}

.page-footer__socnet-list {
    @extend %custom-list;

    display: flex;

    margin-left: auto;

    & > * + * {
        margin-left: 12px;
    }
}

.page-footer__socnet {
    display: block;

    width: 1.25em;
    height: 1.25em;

    background: center/auto 1em no-repeat;
}

.page-footer__socnet--facebook {
    background-image: url(../images/facebook-f.svg);
}

.page-footer__socnet--twitter {
    background-image: url(../images/twitter.svg);
}

.page-footer__socnet--google-plus {
    background-image: url(../images/google-plus-g.svg);
}

.page-footer__socnet--instagram {
    background-image: url(../images/instagram.svg);
}
