.page {
    color: $text-color;
    font: 16px "Maven Pro", sans-serif;

    background: $background-color;
}

.page__subtitle {
    margin: 0;

    font-size: .875rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
}

.page__subtitle--lined {
    &::before,
    &::after {
        content: '';

        display: inline-block;

        width: 24px;
        height: 1px;
        margin: 0 15px;

        vertical-align: 5px;

        background: #6e45e2;
    }
}

.page__title {
    font-size: 5.375rem;
    font-weight: 500;
    letter-spacing: -0.028em;
    text-align: center;
}

.page__slogan {
    margin: 0;

    line-height: 1.75;
    text-align: center;
}

.page__section-title {
    margin: 0;

    color: $secondary-text-color;
    font-size: 3.75rem;
    font-weight: 500;
    letter-spacing: -0.028em;
    text-align: center;
}
