.plan {
    padding: 215px 70px 65px;
    border: 1px solid #d7dbe8;

    background: center top 58px no-repeat #fff;
    border-radius: 30px;

    &:hover {
        border-color: #fff;
        box-shadow: 0 0 82px 10px rgba(#7c7e8d, 0.71);
    }
}

.plan--lunar-module {
    background-image: url('../images/lunar-module.png');
    background-position: center top 65px;
}

.plan--moon-rover {
    background-image: url('../images/moon-rover.png');
}

.plan--spacecraft {
    background-image: url('../images/spacecraft.png');
}

.plan__title {
    margin: 0 0 9px;

    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.plan__price {
    color: #4f4f6f;
    font-weight: 500;
}

.plan__currency {
    font-size: 1rem;
    vertical-align: 1.7em;
}

.plan__amount {
    font-size: 3.75rem;
    letter-spacing: -0.1em;
}

.plan__period {
    font-size: 1.125em;
}

.plan__description {
    margin: 29px 0 0;

    line-height: 1.75;
}

.plan__button {
    margin: 50px auto 0;
}
