.plans {
    padding: 116px 0 120px;
}

.plans__title {
    margin: 7px 0 19px;
}

.plans__list {
    @extend %custom-list;

    display: flex;

    width: 75vw;
    margin: 95px auto 0;

    text-align: center;
}

.plans__item {
    & + & {
        margin-left: 2.6vw;
    }
}
