.round-button {
    display: block;

    width: 64px;
    height: 64px;
    margin: 0 auto;

    background: url('../images/arrow_down.svg') center no-repeat #fff;
    border-radius: 50%;
    box-shadow: 0 0 19px 2px rgba(204, 204, 223, 0.5);
}
